extra_streamlit_components==0.1.80
Flask==3.1.1
joblib==1.5.1
kagglehub==0.3.12
pandas==2.3.1
pyodbc==5.2.0
pyspellchecker==0.8.3
python-dotenv==1.1.1
python_bcrypt==0.3.2
PyYAML==6.0.2
Requests==2.32.4
scikit_learn==1.7.0
sentence_transformers==4.1.0
streamlit_authenticator==0.2.2
streamlit_echarts==0.4.0
transformers==4.53.0
